<div class="row-fluid editProfile">
    <div class="span3 editMenu">
        <div class="editInset">
            Account
        </div>
    </div>
    <div class="span8 editData">
        <h3>Basic info</h3>
        <form class="form-horizontal edit-form">
            <div class="control-group">
                <label class="control-label" for="FirstName">First name</label>
                <div class="controls">
                    <input type="text" class="editInput" id="FirstName" name="firstName" value="<%= user.firstName%>">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="LastName">Last name</label>
                <div class="controls">
                    <input type="text" class="editInput" id="LastName" name="lastName" value="<%= user.lastName%>">
                </div>
            </div>
            
            <hr>

            <h3>Email</h3>
            <div class="control-group">
                <label class="control-label" for="inputEmail">Email</label>
                <div class="controls">
                    <input type="text" id="inputEmail" class="editInput" name="email" value="<%= user.email%>">
                </div>
            </div>

            <hr>

            <h3>Password</h3>

            <div class="control-group">
                <label class="control-label" for="inputPassword">Current password</label>
                <div class="controls">
                    <input  class="editInput" type="password" id="inputPassword" name="oldPassword">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputPassword">New password</label>
                <div class="controls">
                    <input type="password" class="editInput" id="inputPassword" name="newPassword">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="ConfirmPassword">Retype password</label>
                <div class="controls">
                    <input class="editInput confirmPassword" type="password" id="ConfirmPassword">
                </div>
            </div>

            <hr>
            <input class="pull-right btn btn-primary" id="edit" type="button" value="SaveChanges"></input>
        </form>
        <div class="row-fluid status-bar">
            <div class="span12">
                <div class="alert alert-success" style="display: none">
                    <b>Success!</b> Wine saved successfully
                </div>
            </div>
        </div>
    </div>
</div>
