<div class="navbar navbar-inverse navbar-fixed-top" style="z-index: 10;">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Specials</a>

            <div class="nav-collapse collapse">

                
                <ul class="nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          Wines
                          <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="wines-menu"><a href="#wines">Browse Wines</a></li>
                            <li class="addwines-menu"><a href="#wines/add"><i class="icon-edit icon-white"></i> Add Wine</a></li>
                        </ul>
                    </li>
                    <% if (name) {%>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          Specials
                          <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="specials-menu"><a href="#specials">Browse Specials</a></li>
                            <li class="addspecials-menu"><a href="#wines/addSpecials"><i class="icon-edit icon-white"></i> Add Specials</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          Locations
                          <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="locations-menu"><a href="#locations">Browse Locations</a></li>
                            <li class="addlocation-menu"><a href="#locations/addLocations"><i class="icon-edit icon-white"></i> Add Locations</a></li>
                        </ul>
                    </li>
                    <% } %>
                </ul>
                

                <ul class="nav pull-right">
                    <li class="about-menu"><a href="#about">About</a></li>

                    <%if(!name) {%>
                        <li class="signin-menu"><a href="#signin">Log in</a></li>
                        <li class="signup-menu"><a href="#signup">Sign Up</a></li>
                    <%}else{%>
                        <li class="user-menu"><a href="/#editProfile"><%=name%></a></li >
                        <li class="logout-menu"><a class="logout" href="#logout">LogOut</a></li>
                    <%}%>
                </ul> 
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
