<div class="home-hero">
            <h1>Welcome to Specials</h1>
            <h3>A sample application built with Backbone.js, Twitter Bootstrap, Node.js, Express, and MongoDB</h3>

    <br/>
    <div style="opacity: .9;">
        <a class="btn btn-large" href="#wines"><img src="img/wine.png" class="pull-left" style="margin-right:6px;"/> Start Browsing<br/>Node Cellar</a>
        <a class="btn btn-large" href="#">
            <img src="img/github.png" class="pull-left" style="margin-right:6px"/> View Project<br>on GitHub</a>
    </div>


</div>

<div class="bs-docs-social">
  <div class="container">
  </div>
</div>