<div class="thumbnail plain" style="text-align: center;">
    <img src="<%= url %>" class="img-rounded" height="200" width="150" alt="">
    <h5>Choose thumbnail for your special</h5>
    <!-- <button id="change-special-image" class="btn" type="button">Change</button> -->
    <button id="delete-special-image" class="btn" type="button">Delete</button>
    <button id="make-special-logo" class="btn special-logo-picker" type="button">Make main</button>
</div>
