<!--<input type="file" id="files" name="files[]" multiple  />-->
<input type="file" id="files" name="files[]" multiple />

<output id="list"></output>


<br>
<button id="back" class="btn" type="button" onClick="history.go(-1);return true;">Back</button>
<br>
<br>
<ul class="thumbnails"></ul>

<!--<div id="add-image-modal" class="modal hide fade">-->
  <!--<div class="modal-header">-->
    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
    <!--<h3>Add new image</h3>-->
  <!--</div>-->
  <!--<div class="modal-body">-->


    
    <!--<form class="form-horizontal">-->
      <!--<div class="control-group">-->
        <!--<label class="control-label" for="image-url">Image url</label>-->
        <!--<div class="controls">-->
          <!--<input type="text" id="image-url">-->
        <!--</div>-->
      <!--</div>-->
    <!--</form>-->
  
  <!--</div>-->
  <!--<div class="modal-footer">-->
    <!--<button id="add-image" class="btn" type="button">Add new one image</button>-->
  <!--</div>-->
<!--</div>-->

<div id="modal-image-view" ></div>

