<div id="add-image-modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Pick a thumbnail</h3>
  </div>
  <div class="modal-body">
    <img id="thumb-picker" src="<%= url%>" alt="">
  </div>
  <div class="modal-footer">
  
  </div>
</div>