<a href="#locations/<%= _id %>" class="thumbnail plain" style="text-align: center;">
    <img src="<% if(main_logo.url) {%><%= main_logo.url%><%}else{ %>pics/def_loc.jpg<% } %>" height="150" width="125" alt="">
    <h5><%= name %></h5><%= address.address3 %>
</a>
