<div class="row-fluid">
    <div class="span12">
        <h2>Passport Reset</h2>
    </div>
    <div>
        Having trouble loggin in? If you initially logged in with a social account, <a>log in instead</a> or <a>contact us</a> for help.
    </div>
</div>
