<div class="row" style="text-align:center; margin-left: 30%">
	<div class="conteiner span4">
		<form class="signin">
	        <h2 class="form-heading">Log in</h2>
	        <input type="text" class="input-block-level" name="username" placeholder="Email address">
	        <input type="password" class="input-block-level" name="password" placeholder="Password">
	        <button class="btn btn-primary">LOG IN</button>
		</form>
        <div class="row-fluid status-bar">
            <div class="span12">
                <div class="alert alert-success" style="display: none">
                    <b>Success!</b> Wine saved successfully
                </div>
            </div>
        </div>
	</div>
</div>
