<div class="row" style="margin-left: 25%">
	<div class="conteiner span7" style="background-color: #F6F6F6; padding: 20px">
        <form class="form-horizontal signup-form">
            <h4 class="form-heading">Sign Up</h4>
            <hr>

            <div class="control-group">
                <label class="control-label" for="FirstName">First name</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-user"></i></span>
                        <input type="text" id="FirstName" name="firstName" placeholder="First name" required>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="LastName">Last name</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-user"></i></span>
                        <input type="text" id="LastName" name="lastName" placeholder="Last name" required>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputEmail">Email</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-envelope"></i></span>
                        <input type="text" id="inputEmail" name="username" placeholder="Email" required>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="gender">Gender</label>
                <div class="controls">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <button class="btn btn-primary male">Male</button>
                            <button class="btn btn-primary female">Femail</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="control-group">
                <label class="control-label" for="inputPassword">Password</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-lock"></i></span>
                        <input type="password" id="inputPassword" name="password" placeholder="Password" required>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="ConfirmPassword">Confirm password</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-lock"></i></span>
                        <input class="confirmPassword" type="password" id="ConfirmPassword" placeholder="Re-enter password" required>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-success">Create my account</button>
                </div>
            </div>
            <div align="center" class="errSignUp span12"></div>
        </form>
        <div class="row-fluid status-bar">
            <div class="span12">
                <div class="alert alert-success" style="display: none">
                    <b>Success!</b> Wine saved successfully
                </div>
            </div>
        </div>
	</div>
</div>

