<div class="row-fluid">
    <form class="form-horizontal specialForm span12" enctype="multipart/form-data" action="/formhandler" method="post" data-remote="true">
        <fieldset>

            <legend><span style="margin-left: 10px">Specials Details</span></legend>
            <br/>

            <div class="row">
                <div class="span8">
                    
                    <div class="control-group">
                        <label for="wineId" class="control-label">Id:</label>

                        <div class="controls">
                            <input id="wineId" name="id" type="text" value="<%= _id === null ? '' : _id %>" disabled />
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="name" class="control-label">Name:</label>

                        <div class="controls">
                            <input type="text" id="name" name="name" value="<%= name %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>
        
  
                    <div class="well" style="margin-left: 40px">
                        <div id="alert" class="alert alert-error" style="display: none;">
                            <strong>Oh snap!</strong>
                        </div>
                        <table class="table" style="margin-left: 20px">
                            <thead>
                                <tr>
                                    <th>
                                        Start date
                                        <a id="dp4" class="btn small" data-date="2013-01-15" data-date-format="yyyy-mm-dd" href="#">Change</a>
                                    </th>
                                    <th>
                                        End date
                                        <a id="dp5" class="btn small" data-date="2013-08-17" data-date-format="yyyy-mm-dd" href="#">Change</a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="startDate">2013-01-15</td>
                                    <td id="endDate">2013-08-17</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <table class="table" style="margin-left: 40px">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>From</th>
                                <th>Till</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Monday</td>
                                <td><input type="text" id="mon" name="mon" value="<%= mon %>"/></td>
                                <td><input type="text" id="monEnd" name="monEnd" value="<%= monEnd %>"/></td>
                            </tr>
                            <tr>
                                <td>Tuesday</td>
                                <td><input type="text" id="tues" name="tues" value="<%= tues %>"/></td>
                                <td><input type="text" id="tuesEnd" name="tuesEnd" value="<%= tuesEnd %>"/></td>
                            </tr>
                            <tr>
                                <td>Wednesday</td>
                                <td><input type="text" id="wed" name="wed" value="<%= wed %>"/></td>
                                <td><input type="text" id="wedEnd" name="wedEnd" value="<%= wedEnd %>"/></td>
                            </tr>
                            <tr>
                                <td>Thursday</td>
                                <td><input type="text" id="thur" name="thur" value="<%= thur %>"/></td>
                                <td><input type="text" id="thurEnd" name="thurEnd" value="<%= thurEnd %>"/></td>
                            </tr>
                            <tr>
                                <td>Friday</td>
                                <td><input type="text" id="fri" name="fri" value="<%= fri %>"/></td>
                                <td><input type="text" id="friEnd" name="friEnd" value="<%= friEnd %>"/></td>
                            </tr>
                            <tr>
                                <td>Saturday</td>
                                <td><input type="text" id="sat" name="sat" value="<%= sat %>"/></td>
                                <td><input type="text" id="satEnd" name="satEnd" value="<%= satEnd %>"/></td>
                            </tr>
                            <tr>
                                <td>Sunday</td>
                                <td><input type="text" id="sun" name="sun" value="<%= sun %>"/></td>
                                <td><input type="text" id="sunEnd" name="sunEnd" value="<%= sunEnd %>"/></td>
                            </tr>
                            <tr>
                                <td>Public</td>
                                <td><input type="text" id="pub" name="pub" value="<%= pub %>"/></td>
                                <td><input type="text" id="pubEnd" name="pubEnd" value="<%= pubEnd %>"/></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="control-group">
                        <label for="description" class="control-label">Description:</label>

                        <div class="controls">
                            <textarea id="description" name="description" style="width: 90%;" rows="6"><%= description
                                %></textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="description" class="control-label">Conditions:</label>

                        <div class="controls">
                            <textarea id="condition" name="condition" style="width: 90%;" rows="3"><%= condition
                                %></textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="price" class="control-label">Price:</label>

                        <div class="controls">
                            <input type="text" id="price" name="price" value="<%= price %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="bbGrid-container">
                    </div>

                </div>

                <!-- <span class="btn btn-file">Upload<input type='file' name='uploadingFile'></span> -->
                

                <div class="span4" style="margin: none">
                    <div class="well" style="width: 160px;text-align: center; margin: none;" align="center">
                        <form id="123" class="special_logo" style="margin: auto; float: center;" enctype="multipart/form-data" action="/storage/upload" method="post">
                            <div class="span12 " style="text-align: center" align="center">
                                <div class="imgDiv"  align="center" style="position: relative; height:120px; width:160px; margin: auto; float: left; overflow: hidden">
          
                                    <img class="picture" style="position: absolute; top: <%= -main_logo.y1 - ((main_logo.y1*factorHeight-main_logo.y1)).toFixed(0)%>px; left: <%= -main_logo.x1  - ((main_logo.x1*factorWidth-main_logo.x1)).toFixed(0) %>px; width: <%= imageWidth*factorWidth %>px; height: <%= imageHeight*factorHeight %>px;  max-width:none" src="<% if(main_logo.url) {%> <%= main_logo.url%> <% }else{ %>pics/def_sp.jpg<% } %>"/>
                                </div>
                            </div>
                            <!-- <input type="FILE" name="file"/> -->
                            <!-- <input type="submit" name="Upload" value="Upload" /> -->

                        </form>
                        <p style="color:#999;">To change the picture, drag a new picture from your file system onto the box above.</p>
                        <a href="#specials/<%= _id%>/setlogo" id="setup-images" class="btn">Pick a logo</a>
                    </div>
                </div>

            </div>

            <button class="btn" type="button" data-toggle="modal" data-target="#locationsModal" style="margin-left: 40px">Add related special</button>

        </fieldset>

        <div class="form-actions">
            <a href="#" class="btn btn-primary save">Save</a>
            <a href="#" class="btn delete">Delete</a>
        </div>


    </form>

    <div class="bbGrid-locations"></div>
    
</div>

<div class="row-fluid status-bar">
    <div class="span12">
        <div class="alert alert-success" style="display: none">
            <b>Success!</b> Wine saved successfully
        </div>
    </div>
</div>



<div id="locationsModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>relate to location by one-click</h3>
  </div>
  <div class="modal-body">
    <div class="bbGrid-add-locations"></div>
  </div>
  <div class="modal-footer">
    <button data-dismiss="modal" aria-hidden="true" class="btn">Close</button>
    <button id="save-changes-links"class="btn btn-primary">Save changes</button>
  </div>
</div>

<div id="thumbModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>relate to location by one-click</h3>
  </div>
  <div class="modal-body">
    <div class="select-thumb"></div>
  </div>
</div>


<div id="imagesModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>click and select the viewing area</h3>
  </div>
  <div class="modal-body">
    <div class="images-thumb" align="center"></div>
  </div>
  <div class="modal-footer">
    <input id="save-img" class="btn" value="save" type="button" />
  </div>
</div>
