<a href="#specials/<%= _id %>" class="thumbnail plain" style="text-align: center;">
    <img src="<% if(main_logo.url) {%> <%= main_logo.url%> <% }else{ %>pics/def_sp.jpg<% } %>" height="150" width="125" alt="fail">
    <h5><%= name %></h5>
    <%= price %> xxx<br/>
    <i class="icon-globe"></i> <%= description %>
</a>
